<nav>
  <div class="left-side">
    <img [src]="'logo2.png'" alt="App Logo">
    <h1>BirdNet <span>- a living library of bird vocalizations</span></h1>
  </div>
  <div class="right-side">
    <mat-checkbox (change)="onCheckboxChange($event)">BirdNET</mat-checkbox>
    <mat-checkbox (change)="onCheckboxChange($event)">BirdWeather</mat-checkbox>
    <mat-checkbox (change)="onCheckboxChange($event)">eBird</mat-checkbox>
    <mat-checkbox (change)="onCheckboxChange($event)">Range</mat-checkbox>
    <mat-checkbox (change)="onCheckboxChange($event)">Weather</mat-checkbox>
  </div>
</nav>
